name: reown_appkit_dapp
description: An example dapp for Reown's AppKit built with Flutter

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.2.3"
  flutter: ">=3.16.6"

dependencies:
  bs58: ^1.0.2
  cupertino_icons: ^1.0.8
  eth_sig_util_plus: ^0.0.10
  flutter:
    sdk: flutter
  intl: ^0.20.1
  json_annotation: ^4.9.0
  package_info_plus: '>=8.1.2 <10.0.0'
  polkadart: '>=0.5.0 <0.8.0'
  polkadart_cli: '>=0.5.0 <0.8.0'
  qr_flutter: ^4.1.0
  reown_appkit:
    path: ../..
  sentry_flutter: ^9.7.0
  toastification: ^2.3.0

dependency_overrides:
  # because of polkadart: ^0.5.0
  pointycastle: '>=3.9.1 <5.0.0'
  web_socket_channel: ^2.3.0

dev_dependencies:
  build_runner: ^2.4.13
  flutter_lints: ^5.0.0
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
#  config:
#    enable-lldb-debugging: false

  assets:
    - assets/

# polkadart:
#   output_dir: lib/generated
#   chains:
#     polkadot: wss://polkadot-rpc.dwellir.com
    # westend: wss://westend-asset-hub-rpc.polkadot.io
    # kusama: wss://kusama-rpc.polkadot.io
    # astar: wss://rpc.astar.network
    # paseo: wss://paseo-rpc.dwellir.com
    # assethub: wss://asset-hub-paseo-rpc.dwellir.com
    # encointer: wss://encointer-kusama.dotters.network
