name: "CTA Assistant"
on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened, closed, synchronize]

# Required permissions
permissions:
  actions: write
  contents: write # can be 'read' if signatures are in remote repository
  pull-requests: write
  statuses: write

jobs:
  CTA:
    runs-on: ubuntu-latest
    steps:
      - uses: walletconnect/actions/github/cta-assistant@master
        with:
          cta-document-url: "https://github.com/reown-com/copyright-transfer-agreement/blob/main/copyright-transfer-agreement/v1/Copyright-Transfer-Agreement-GITHUB.pdf"
          # signatures-path: "legal/signatures/cta.json"
          # signatures-branch: "cta-signatures"
          # create-file-commit-message: "docs: initialize CTA signatures file"
          # signed-commit-message: "docs: @$contributorName signed the CTA"
          custom-pr-sign-comment: "I have read the CTA Document and I hereby sign the CTA"
          custom-allsigned-prcomment: "All contributors have signed the CTA ✍️ ✅"
          lock-pullrequest-aftermerge: "true"
          # allowlist: "external-contributor1,external-contributor2"
